@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <!-- partial:index.partial.html -->
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input type="text" placeholder="Имя" />
                <input type="text" placeholder="Фамилия" />
                <input type="text" placeholder="Департамент" />
                <button onclick="">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="./script.js"></script>

</body>